<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h3>Made by Jakub Rosner</h3>
  <input type="file" accept=".txt" id="plik" (change)="uploadFile($event.target.files)">
</div>
<hr>
<div class='center'>
  <table *ngIf="file" border="1">
    <tr>
      <th *ngFor="let cell of columns">{{ cell }}</th>
    </tr>
    <tr *ngFor="let player of players; let i = index">
      <td>{{ player }}</td>
      <td> 
        {{ scores[i] }}
      </td>
        <td *ngFor="let pins of throws[i]">
          {{ pins }}
        </td>
    </tr>
  </table>
</div>

